@charset "utf-8";
/* CSS Document */

h1 { 
    color: black;
    background-color: white;
    padding: 10px; 
    font-size: 250%; 
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    border: 3px solid black;
    border-radius: 8px;
	margin-right:30%;
	margin-top: 0%;
}   
h2 { 
    color: black; 
    font-size: 150%; 
    font-family: serif;
	margin: 0;
}  
h3 { 
    color: black; 
    font-size: 120%; 
    font-family: serif;
}  

a:link { 
    color: black;
}     
a:visited { 
    color: black; 
}  
a:hover { 
    color: black; 
}

p{
    color: black;
    font-family: serif;
    font-size: 100%;
    line-height: 1.5;
	margin-right: 30%;
}

blockquote {
    color: black;              
    font-style: italic;
	margin: 0;
	margin-right: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
}


body {
	background-color: white;
	width: auto;
	margin: 0;
	font-family: serif;
	height: auto;
}


header {
	width: 900px;
	background-color: white;
	text-align: center;
	margin: auto;
}

section {
	width: 900px;
	margin: auto;
	background-image: url("images/2colbackflipped.jpg");
	background-repeat: repeat-y;

}

nav {
	float: right;
	width: 30%;
}


article {
	width: 800px;
	margin: auto;

}


footer {
	background-color: #74ae96;
	text-align: center;
	width: 900px;
	margin: auto;
	clear: both;
}

.logoleft {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.tributeright{
	float: right;
	margin: 5%;
}

.comingsoon{
	margin-top: 5%;
	margin-bottom: 10%;
}

.nobackground{
	background-image: url(#);
	background-color: transparent;
}

.h1 {
	margin: auto;
}

.center{
	text-align: center;
}

nav a {
	border: 2px inset gray;
	background-color: #FFFFFF;
	line-height: 250%;
	color: #277455;
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
	
}

nav a:hover{
	color: #AA5A39;
	border: 2px outset gray;
}

#thumbs{
	text-align: center;
	margin-right: 30%;
}

#image{
	margin-right: 30%;
	text-align: center
}

td {
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    background-color: #FFDBAA;
    color: #003A23;
}

th {
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    background-color: #003A23;
    color: #FFDBAA;
}

table {
    margin: 20px auto;
    width: 100%;
    padding: 5px;
    border-spacing: 5px;

}

table caption {
    font-family: serif;
    background-color: white;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 12px;
    margin: 8px;
    border: 3px solid black;
    color: #FFDBAA;
}

.print-off{
	display:none;
}

body{
	background-color: white;
	margin: auto;
}

header {
	display:none;
}

section	{
	width: 100%;
}

article	{
	width: 95%;
	margin: auto;
	padding-right: 5px;
}
nav{
	display:none;
}

footer	{
	display:none;
}

img {
	filter: grayscale(100%);
}

