body {
	margin:0;
	background-image:url('Images/background.gif');
	font-family:Arial, Helvetica, sans-serif;
	height:auto;
}

header {
	width: 760px;
	height: 150px;
	background-color: #CCC;
	text-align: center;
	padding-top: 10px;
	border: dashed medium navy;
	margin:auto;
}

section {
	width: 760px;
	background-image:url('Images/inner_background.gif');
	background-repeat:repeat-y;
	overflow: hidden;
	border-right: dashed medium navy;
	border-left: dashed medium navy;
	margin:auto;
}

nav {
	float: left;
	width: 110px;
	padding-left: 10px;
}

article {
	float: left;
	width: 600px;
	padding: 5px;
	text-align: center;
}

footer {
	text-align: center;
	width: 760px;
	height: 70px;
	border: medium dashed #000080;
	background-color: #CCC;
	margin: auto;
}

.logoleft {
	float: left;
	padding-top: 30px;
	padding-left: 15px;
}

nav a {
	border: 2px inset #ccc;
	background-color: maroon;
	line-height: 250%;
	color: #FFF;
	font-weight: bold;
	font-size: 17px;
	text-decoration: none;
}

nav a:hover {
	color: yellow;
	border: 2px outset #CCC;
}

